.card {
    margin: 20px 15px 0;
    border: none;
}

.button {
    text-align: left;
    margin-top: 12px;
    margin-bottom: 0;
    background-color: #e8e8e8;
    color: #939393;
    font-family: "Effra";
    font-size: rem-calc(6.4);
    font-weight: 500;
    overflow: overlay;
    // line-height: 51.25px;
    text-transform: uppercase;
    letter-spacing: 3.24px;
    padding: 9px;
    transition: background-color 0.25s ease-out, color 0.25s ease-out;
    @include breakpoint(770) {
        font-size: rem-calc(10)
    }
    @include breakpoint(1055) {
        font-size: rem-calc(12);
    }
    @include breakpoint(1318) {
        font-size: rem-calc(18);
    }
    &:hover {
        background-color: scale-color(#e8e8e8, $lightness: -15%);
        color: scale-color(#939393, $lightness: -30%);
    }
    .us-chev {
        float: right;
    }
}