.callout {
    &.success {
        margin-top: 20px;
        margin-bottom: 0;
        background-color: #e8e8e8;
        color: #939393;
        h5 {
            color: $black;
            font-family: "Effra";
            font-size: rem-calc(18);
            font-weight: 500;
            line-height: 0.9775rem;
            text-transform: uppercase;
            letter-spacing: 1.9px;
        }
        p {
            margin: 0;
            color: #939393;
        }
    }
}

#us-contact-form {
    padding-top: 20px;
    border-top: 7px solid $black;
}

#us-contact {
    margin-top: 20px;
    border-top: 7px solid $us-yellow;
    label {
        color: $black;
        font-family: "Effra";
        font-size: rem-calc(18);
        font-weight: 500;
        line-height: 0.9775rem;
        text-transform: uppercase;
        letter-spacing: 1.9px;
    }
    input, textarea {
        background-color: #e8e8e8;
        border: none;
        box-shadow: none;
        margin-top: 0.5em;
        &::placeholder {
            color: #939393;
            font-family: "Effra";
            font-size: rem-calc(18);
            font-weight: 500;
        }
    }
}