.footer {
    margin-top: 40px;
    margin-bottom: 35px;
    &.us-footer {
        border-top: 7px solid $black;
        .us-footer-black {
            padding-top: 19px;           
            border-top: 8px solid $us-yellow;
        }
        .copyright {
            text-transform: uppercase;
            color: $black;
            font-family: "Effra";
            font-size: 12px;
            font-weight: 500;
            line-height: 15.64px;
            text-transform: uppercase;
            letter-spacing: 1.9px;
            margin: 0;
        }
    }
}