#location-map {
    background-color: $us-yellow;
    margin-top: 20px;
    img {
        padding: 0.8125rem 7.4375rem 0.875rem 6.1875rem;
        @include breakpoint(small only) {
            padding: 1em;
        }
    }
}