.header {
    border-top: 7px solid $us-yellow;
    padding-top: 22px;
    border-bottom: 7px solid $black;
    .top-bar {
        background-color: $white;
    }
    .show-for-small-only {
        .menu {
            margin-bottom: 20px;
            &>li{
                &>a{
                    padding: 0;
                    color: $black;
                    font-family: "Effra";
                    font-size: rem-calc(14);
                    font-weight: 500;
                    line-height: 0.9775rem;
                    text-transform: uppercase;
                    letter-spacing: 1.9px;
                }
            }
        }
    }
    .menu {
        .active>a, .is-active>a {
            background: none;
        }
        text-transform: uppercase;
        a {
            padding: 0;
        }
        &.dropdown {
            display: flex;
            justify-content: space-between;
            margin-top: 15px;
            margin-bottom: 10px;
            &>li{
                &>a{
                    padding: 0;
                    color: $black;
                    font-family: "Effra";
                    font-size: rem-calc(10);
                    @include breakpoint(1024) {
                        font-size: rem-calc(7);
                    }
                    @include breakpoint(1363) {
                        font-size: rem-calc(12);
                    }
                    font-weight: 500;
                    line-height: 0.9775rem;
                    text-transform: uppercase;
                    letter-spacing: 1.9px;
                }
            }
        }
    }    
}

.us-logo {
    margin-left: 2%;
    @include breakpoint(medium) {
        margin-left: 15%;
    }
}

.us-nav {
    margin-left: 15%;
    width: 68.9333334%;
}

.us-container {
    text-align: center;
    display: inline-block;
    letter-spacing: -0.8px;
    @include breakpoint(medium) {
        margin-right: 10%
    }
    @include breakpoint(large) {
        margin-right: 232px;
    }
    //text-transform: uppercase;
    h2 {
        font-family: "Akzidenz Grotesk Pro";
        font-size: rem-calc(21.5);
        @include breakpoint(1024) {
            font-size: rem-calc(43);
        }
        font-weight: 300;
        color: $us-gray-1;
        line-height: 2.025rem;
        margin: 0;
        margin-top: 0.8125rem;
    }
    h3 {
        a {
            text-decoration: none;
            color: inherit;
        }
        font-family: "Akzidenz Grotesk Pro";
        color: $us-light-gray;
        font-size: rem-calc(12.5);
        @include breakpoint(1024) {
            font-size: rem-calc(25);
        }
        line-height: 1.824375rem;
    }
}

.off-canvas-content {
    &.is-open-left {
        filter: blur(7px);
    }
}

.off-canvas {
    &.is-open {
        background: transparent;
        &.is-transition-overlap {
            box-shadow: none;
        }
    }
}

#offcanvas-nav {
    &.vertical.menu {
        &.accordion-menu {
            li {
                a {
                    text-align: left;
                    margin-top: 12px;
                    margin-bottom: 0;
                    background-color: #e8e8e8;
                    color: #939393;
                    font-family: "Effra";
                    font-size: rem-calc(6.4);
                    font-weight: 500;
                    overflow: overlay;
                    // line-height: 51.25px;
                    text-transform: uppercase;
                    letter-spacing: 3.24px;
                    padding: 9px;
                    transition: background-color 0.25s ease-out, color 0.25s ease-out;
                    @include breakpoint(770) {
                        font-size: rem-calc(10)
                    }
                    @include breakpoint(1055) {
                        font-size: rem-calc(12);
                    }
                    @include breakpoint(1318) {
                        font-size: rem-calc(18);
                    }
                    &:hover {
                        background-color: scale-color(#e8e8e8, $lightness: -15%);
                        color: scale-color(#939393, $lightness: -30%);
                    }
                    .us-chev {
                        float: right;
                    }
                }
            }
        }
    }
}