.orbit.us-orbit {
    .orbit-controls {
        button {
            height: 100%;
            width: 15%;
            &:active, &:hover, &:focus {
                background: none;
            }
        }
    }
    .orbit-image {
        z-index: -1;
        position: relative;
    }
    .slider-shadow {
        position: absolute;
        z-index:-1;
        &-overlay {
            left:0;
            top:0;
            opacity: 0.54;
            width: 100%;
        }
        &-bottom {
            opacity: 1;
            top: unset;
            bottom: 0;
            left: 0;
            right: 0;
            margin: auto;
        }
    }
    .slider-bullet {
        content: "";
        display: inline-block;
        position: absolute;
        top: 10px;
        left: 10px;
        width: 15px;
        height: 15px;
        @include breakpoint(medium) {
            top: 59px;
            left: 268px;
            width: 27px;
            height: 27px;
        }
        margin-right: 18px;
        background: $us-yellow
    }
    .orbit-caption {
        top: 10px;
        left: 35px;
        width: 50%;
        @include breakpoint(medium) {
            top: 3.125rem;
            left: 19.5625rem;
            width: 23.25rem;
        }
        color: $white;
        padding: 0;
        background: none;
        h1 {
            font-family: "Effra";
            font-weight: 500;
            font-size: rem-calc(16);
            letter-spacing: -0.56px;
            line-height: 1em;
            @include breakpoint(medium) {
                font-size: rem-calc(24);
                letter-spacing: -2.12px;
                line-height: 3.203125rem;
            }
            @include breakpoint(800) {
                font-size: rem-calc(35);
            }
            @include breakpoint(1024) {
                font-size: rem-calc(53);
            }
        }
    }
    .orbit-bullets {
        position: absolute;
        margin: 0;
        bottom: 20px;
        left: 50%;
        button {
            border-radius: 0;
            background-color: #c4bab4;
            width: 15px;
            height: 15px;
            margin-right: 12px;
            opacity: 0.7;
            border: 2px solid transparent;
            &.is-active {
                background: transparent;
                border: 2px solid#c4bab4;
            }
        }
    }
}